            </main>
        
        <section class="footer">
            <footer class="footer__footer">
                <p>Copyright © <%= new Date().getFullYear() %></p>
            </footer>
        </section>
            
        <script src="js/button.js"></script>
    </body>

</html>