<%- include("partials/header.ejs") %>


<div class="editejshead">
    <h2>Edit Tweet</h2>
</div>

<div class="editcontainer">
    <form action="/edit/<%= id %>" method="POST">
        <textarea name="tweet"><%= tweet %></textarea>
        <button type="submit">Save</button>
    </form>
</div>


<%- include("partials/footer.ejs") %>