* {
    font-family: "Google Sans Code", monospace;
    padding: 0;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

html, body {
    height: 100%;
    background-color: #eee;
}

button {
    background: none;
    border: none;
}

.postbox {
    padding: 100px 50px 50px 50px;
}

.postbox__input-container {
    display: flex;
    gap: 40px;
    justify-content: center;
    height: 6rem;
}

.postbox__input-item1 {
    display: flex;
    align-items: center;
    width: 50%;
}

.postbox__input-item2 {
    display: flex;
    align-items: center;
    width: 10%;
}

.postbox__tweetinput {
    border: 1px solid #5d5d5d;
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 12px;
    width: 100%;
}

.postbox__submit {
    font-size: 1.5rem;
    padding: 5px 20px;
    background: none;
    border: none;
    background-color: #5d5d5d;
    color: #eee;
    border-radius: 6px;
    transition: 0.3s;
    cursor: pointer;
}

.postbox__submit:hover {
    background-color: #313131;
}

.viewposts {
    padding: 30px 100px 100px 100px;
    flex: 1;
}

.viewposts__title {
    padding: 30px;
}

.viewposts__post {
    font-size: 1.5rem;
    border-radius: 8px;
    padding: 2rem;
    border: 1px solid #5d5d5d;
    background-color: white;
    margin-bottom: 0.5rem;
}

.viewposts__noposts {
    padding: 25px;
}

.footer {
    padding: 20px;
    text-align: center;
}




/* ============================== */


.dropdown-toggle {
    padding: 10px 13px;
    border-radius: 128px;
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.dropdown-toggle:hover {
    background-color: #b9b9b9;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 35px;
    right: 10px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    z-index: 100;
}

.dropdown-menu.show {
    display: block;
}

.dropdown-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dropdown-menu ul li {
    padding: 10px;
    cursor: pointer;
}

.dropdown-menu ul li:hover {
    background-color: #f0f0f0;
}